html, body {
  font: 11pt verdana;
}

.vis.timeline.root {
  border: none;
}

.vis.timeline .item,
.vis.timeline .item.selected {
  background: none;
  border: 0 solid transparent;
}

.vis.timeline .item .content {
  overflow: visible;
}

.vis.timeline .timeaxis .grid.minor {
  border: transparent;
}

#timeline-container {
  position: relative;
  height: 250px;
  padding-left: 96px;

  background: url(img/stave.png) repeat-x;
  background-size: 100% 100%;
}

#clef {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

div.note-container {
  position: relative;
}

div.note-container img.note {
  position: relative;
}
