@import url('node_modules/vis/dist/vis.css');

html, body, input, select {
  font: 18pt verdana;
}

.vis.timeline.root {
  border: none;
}

.vis.timeline .item,
.vis.timeline .item.selected {
  background: none;
  border: 0 solid transparent;
}

.vis.timeline .item .content {
  overflow: visible;
}

.vis.timeline .timeaxis .grid.minor {
  border: transparent;
}

#music {
  display: none;
}

#timeline-container {
  position: relative;
  height: 250px;
  padding-left: 96px;

  background: url(img/stave.png) repeat-x;
  background-size: 100% 100%;
}

#clef {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

div.note-container {
  position: relative;
}

div.note-container img.note {
  position: relative;
}

table.agents {
  border-collapse: collapse;
}

table.agents tr:nth-child(even) {
  background: #f5f5f5;
}

table.agents th,
table.agents td {
  text-align: left;
  border: 1px solid #e5e5e5;
  padding: 2px 10px;
  max-width: 700px;
  overflow: auto;
}

table.agents th {
  background: #e5e5e5;
}
